[flake8]
show-source = true
statistics = true
exclude =
    .git

# These settings make flake8 compatible with Black:
# max-line-length: https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
# E203: https://black.readthedocs.io/en/stable/the_black_code_style.html#slices
# E503: https://black.readthedocs.io/en/stable/the_black_code_style.html#line-breaks-binary-operators
max-line-length = 88
ignore = E203, W503