language: python
python:
    - 3.5
    - 3.6
    - 3.7
    - 3.8
    - 3.9
addons:
    chrome: stable
before_script:
    - LATEST_CHROMEDRIVER_VERSION=`curl -s "https://chromedriver.storage.googleapis.com/LATEST_RELEASE"`
    - curl "https://chromedriver.storage.googleapis.com/${LATEST_CHROMEDRIVER_VERSION}/chromedriver_linux64.zip" -O
    - unzip chromedriver_linux64.zip -d ~/bin
before_install:
    - python --version
    - pip install -U pip
    - pip install -U pytest
    - pip install codecov
install:
    - pip install Cython
    - pip install -r requirements.txt
    - pip install ".[test]" .
script: pytest
after_success:
    - codecov
