name: Build

on:
  pull_request_target:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.7.3"
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run tests and coverage
        run: uv run pytest
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
